.navbar{
  margin-bottom: 0;
  padding: 10px 0;
}

.navbar-default{
  background: rgba(255, 255, 255, 1);
  border: none !important;
  border-radius: 0 !important;
}

.navbar-default .navbar-collapse{
    background: transparent;
  }

.navbar-nav>li>a{
  line-height: 25px;
}

.navbar-default .navbar-nav>li>a{
  color: #69808E;
  font-weight: 400;
  font-size: 18px;
}

.navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: #4BBFA7;
}

/*Class active*/
.navbar-default .navbar-nav>.active>a{
  color: #4BBFA7;
  background: transparent;
}
.navbar-default .navbar-nav>.active>a:hover{
  color: #4BBFA7;
  background: transparent;
}

.navbar-brand{
  padding: 0;
}

.navbar-brand img{
  width: 100px;
}

.brand-tours img{
  width: 240px !important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background: transparent;
}
.navbar-default .navbar-toggle{
  border: none;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #4BBFA7;
}
.navbar-toggle{
  margin-right: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border: none;
}
.navbar-collapse{
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
}

/*/// NAV SCROLL ///*/
/*.nav-background{
  background: transparent;
  transition: all 0.5s;
}
.nav-outback{
  background-color: rgba(79, 188, 167, 1);
  transition: all 0.5s;
}

.nav-backg{
  background-color: rgba(79, 188, 167, 1);
}*/

