@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800');

*{
  border-radius: 0 !important;
}

body{
  font-family: 'Nunito Sans', sans-serif;
}

h1,h2{
  font-weight: 800;
}

p{
  color: #7e8080;
  font-size: 18px;
}

.navbar{
  margin-bottom: 0;
  padding: 10px 0;
}

.navbar-default{
  background: #4abea7;
  border: none;
}

.navbar-default .navbar-nav>li>a{
  color: #ffffff;
  text-transform: uppercase;
}

.navbar-brand{
  padding: 0;
}

.navbar-brand img{
  width: 100px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background: transparent;
}
.navbar-default .navbar-toggle{
  border: none;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #ffffff;
}
.navbar-toggle{
  margin-right: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border: none;
}
.navbar-collapse{
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
}

.footer{
  padding: 20px;
}

.footer ul{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 0px;
}

.footer ul li{
  display: inline;
  margin-right: 30px;
}

.footer ul li a{
  color: #4fbca7;
  text-decoration: none;
}

.footer ul li a:hover{
  color: #7e8080;
}

.footer ul.social{
  list-style: none;
 /* text-align: center;*/
}

.footer ul.social li{
  display: inline;
}


a.social-fb{
  background-size: 58px !important;
}

a.social-tw{
  background-size: 58px !important;
}

a.social-ins{
  background-size: 58px !important;
}

.social-fb{
  width: 29px;
  height: 29px;
  padding: 0 !important;
  margin-top: 20px;
  margin-left: 10px;
  display: inline-block;
  background: url('../img/redes.png') 0 0;
  background-size: 58px;
  overflow: hidden;
}


a.social-fb:hover{
  background: url('../img/redes.png') -29px 0px;
}

.social-tw{
  width: 29px;
  height: 29px;
  padding: 0 !important;
  margin-top: 20px;
  margin-left: 10px;
  display: inline-block;
  background: url('../img/redes.png') 0 -29px;
  background-size: 58px;
  overflow: hidden;
}

a.social-tw:hover{
  background: url('../img/redes.png') -29px -29px;
}

.social-ins{
  width: 29px;
  height: 29px;
  padding: 0 !important;
  margin-top: 20px;
  margin-left: 10px;
  display: inline-block;
  background: url('../img/redes.png') 0 -58px;
  background-size: 58px;
  overflow: hidden;
}

a.social-ins:hover{
  background: url('../img/redes.png') -87px -58px;
}

.btn-green{
  border: none;
  color: #ffffff;
  background: rgb(84,192,171);
  background: -moz-linear-gradient(top, rgb(84,192,171) 0%, rgb(71,177,156) 100%);
  background: -webkit-linear-gradient(top, rgb(84,192,171) 0%,rgb(71,177,156) 100%);
  background: linear-gradient(to bottom, rgb(84,192,171) 0%,rgb(71,177,156) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54c0ab', endColorstr='#47b19c',GradientType=0 );
  font-weight: 700;
  font-size: 18px;
}
.btn-green:hover{
  background: rgb(62,157,138);
  color: #ffffff;
}
.btn-green:active{
  color: #ffffff;
  background: rgb(68,175,154);
  background: -moz-linear-gradient(top, rgb(68,175,154) 0%, rgb(83,192,170) 100%);
  background: -webkit-linear-gradient(top, rgb(68,175,154) 0%,rgb(83,192,170) 100%);
  background: linear-gradient(to bottom, rgb(68,175,154) 0%,rgb(83,192,170) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44af9a', endColorstr='#53c0aa',GradientType=0 );
}

.btn-gray{
  border: none;
  color: #ffffff;
  background: rgb(126,128,128);
  background: -moz-linear-gradient(top, rgb(126,128,128) 0%, rgb(105,106,107) 100%);
  background: -webkit-linear-gradient(top, rgb(126,128,128) 0%,rgb(105,106,107) 100%);
  background: linear-gradient(to bottom, rgb(126,128,128) 0%,rgb(105,106,107) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e8080', endColorstr='#696a6b',GradientType=0 );
  font-weight: 700;
  font-size: 18px;
}

.btn-gray:hover{
  background: rgb(76,77,77);
  color: #ffffff;
}

.btn-gray:active{
  color: #ffffff;
  background: rgb(105,106,107);
  background: -moz-linear-gradient(top, rgb(105,106,107) 0%, rgb(126,128,128) 100%);
  background: -webkit-linear-gradient(top, rgb(105,106,107) 0%,rgb(126,128,128) 100%);
  background: linear-gradient(to bottom, rgb(105,106,107) 0%,rgb(126,128,128) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696a6b', endColorstr='#7e8080',GradientType=0 );
}

/*////// HOME //////*/
.header{
  background: url('../img/back-header.jpg') no-repeat;
  background-size: 100%;
  padding-bottom: 200px;
  background-position-y: -220px;
}

.header-content{
 padding-top: 100px;
}

.header h1{
  color: #7e8080;
  text-transform: uppercase;
}

.header h1 span{
  color: #a3a4a4;
}

.text-fadein{
  height: 50px;
  position: relative;
  top: -20px;
}

.text-fadein h2 {
  color: #4bbea8;
  left:0;
  position: absolute;
  top:0;
}

.header p{
  margin-top: 30px
}

.header .van img{
  width: 100%
}

.header .btn{
  margin-top: 0px;
  padding-left: 30px;
  padding-right: 30px;
}

.text-ruta{
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px !important;
}

/*.search{
  background: #ffffff;
  border-top: 5px solid #4abea7;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
  margin-top: 50px;
}

.search h3{
  color: #7e8080;
}

.search img{
  width: 30px;
}

.search .btn{
  margin-top: 0px;
}*/

.como-funciona{
  padding-bottom: 270px;
}

.como-funciona h1{
  color: #7e8080;
  text-transform: uppercase;
}

.como-funciona h1 span{
  color: #a3a4a4;
}

.como-funciona ul{
  list-style: none;
  padding: 0;
}

.como-funciona ul li{
  color: #7e8080;
  font-size: 18px;
  line-height: 3em;
}

.como-funciona ul li img{
  width: 50px;
}

.content-buen-viaje{
  background: #49bda7;
}

.buen-viaje h1{
  color: #ffffff;
  text-transform: uppercase;
}

.buen-viaje h1 span{
  color: #9ee1d4;
}

.buen-viaje-info{
  margin-top: 30px;
}

.buen-viaje-info p{
  color: #ffffff;
  font-weight: 700;
}

.buen-viaje-info img{
  width: 60%;
}

/*////// COBERTURA //////*/
.map iframe{
  border: none;
  height: 75%;
  height: 75vh;
  overflow: hidden;
  width: 100%;
}

/*////// ORGANIZACIONES //////*/
.header-organizaciones{
  background: url('../img/Back_Organizaciones.jpg') no-repeat;
  background-size: 100%;
  padding-bottom: 400px;
  background-position-y: -100px;
}

.header-content-organizaciones{
  padding-top: 100px;
}

.header-organizaciones h1{
  color: #ffffff;
  text-transform: uppercase;
}

.header-organizaciones h2{
  color: #ffffff;
  margin-top: 25px;
  font-weight: normal;
}

.header-organizaciones p{
  margin-top: 30px
}

.header-organizaciones .btn{
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.porque-content{
  padding: 50px 0 100px 0;
}

.porque-title h3{
  font-weight: 700;
  margin-bottom: 20px;
}

.porque-title p{
  font-weight: 700;
  margin-bottom: 40px;
}

.cuatro-puntos{
  margin-bottom: 80px;
}

.cuatro-puntos > .porque{
  background: #4abea7;
  border: 4px solid #ffffff;
  padding: 10px;
  min-height: 330px;
}

.cuatro-puntos > .porque img{
  padding: 10px 0;
  width: 50%;
}

.cuatro-puntos > .porque p{
  color: #ffffff;
}

.tres-puntos{
  margin-bottom: 50px;
}

.tres-puntos img{
  padding: 10px 0;
  width: 50%;
}

.tres-puntos-title{
  margin-bottom: 30px;
}

.middle{
  border-left: 1px solid #7e8080;
  border-right: 1px solid #7e8080;
}

/*////// QUIENES //////*/
.main-quienes{
  background: #49bda7;
}

.header-quienes{
  background: url('../img/Back_Quienes.jpg') no-repeat;
  background-size: 100%;
  padding-bottom: 450px;
}

.header-content-quienes{
 padding-top: 100px;
}

.header-quienes h1{
  color: #7e8080;
  text-transform: uppercase;
}

.header-quienes h2{
  color: #7e8080;
  margin-top: 50px;
  font-weight: normal;
}

.quienes-content{
  background: #49bda7;
}

.quienes-content p{
  color: #ffffff;
}

.nosotros{
  padding-bottom: 80px;
}

.nosotros h1{
  color: #7e8080;
  text-transform: uppercase;
}

.nosotros h3{
  color: #7e8080;
  margin-bottom: 40px;
}

img.logos{
  width: 100%;
}

/*////// BENEFICIOS //////*/
.beneficios{
  padding: 50px 0;
  background: #49bda7;
}

.beneficios h1{
  color: #ffffff;
  text-transform: uppercase;
}

.beneficios .uno{
  margin: 40px 0;
}

.beneficio{
  background: #4abea7;
  /*border: 4px solid #ffffff;*/
  padding: 15px;
  min-height: 370px;
}

.beneficio img{
  width: 50%;
}

.beneficio p{
  color: #ffffff;
}

/*////// PRIVACIDAD //////*/
.privacidad h3{
  font-weight: 700;
}

/*////// BACKS SUPPORT //////*/
.backgreen-down{
  background: url('../img/back-green-down.png') no-repeat bottom;
  background-size: 100%;
}

.backgreen-up{
  background: url('../img/back-green-up.png') no-repeat bottom;
  background-size: 100%;
}

.space-greenUp{
  width: 100%;
}

.space-greenUp img{
  width: 100%;
}

@media screen and (min-width: 1500px){
  .header{
    background-position-y: -420px;
    padding-bottom: 300px;
  }

  .header-organizaciones{
    background-position-y: -300px;
  }

  .header-organizaciones{
    padding-bottom: 500px;
  }

  .header-quienes{
    background-position-y: 100%;
  }

  .porque-content{
    padding-top: 0;
  }
}

@media only screen and (min-width:993px) and (max-width: 1499px) {
  /*.header-quienes{
    padding-bottom: 20%;
  }*/
}

@media only screen and (min-width:1025px) and (max-width: 1400px) {
  .header-quienes{
    padding-bottom: 400px;
  }

  .header-organizaciones{
    padding-bottom: 400px;
  }

}

@media only screen and (min-width:769px) and (max-width: 1024px){
  .header{
    background-position-y: 0px;
  }

  .header-quienes{
    padding-bottom: 12%;
  }

  .header-organizaciones{
    background-size: 100%;
    padding-bottom: 200px;
    background-position-y: -100px;
  }

  .header-content-organizaciones{
    padding-top: 0px;
  }

}

@media screen and (max-width: 768px){
  .header{
    background-size: 200%;
    padding-bottom: 100px;
    background-position-y: -50px;
  }

  .header-content{
   padding-top: 50px;
  }

  .header h1{
    color: #7e8080;
    text-transform: uppercase;
  }

  .header img{
    width: 50%;
    margin-left: 25%
  }

  .header .van img{
    width: 100%;
    margin-left: 0%;
    margin-top: 30px;
  }

  .header-quienes{
    background-size: 200%;
    padding-bottom: 200px;
    background-position-y: -230px;
  }

  .header-organizaciones{
    background-size: 100%;
    padding-bottom: 200px;
    background-position-y:0px;
  }

  .header-content-organizaciones{
    padding-top: 50px;
  }

}

@media screen and (max-width: 480px){
  h1{
    font-size: 28px;
  }

  h2{
    font-size: 22px;
  }
  .header{
    background-size: 300%;
  }

  .header-quienes{
    background-size: 400%;
    padding-bottom: 200px;
    background-position-y: -270px;
  }
  .header-quienes h1{
    font-size: 28px;
  }

  .header-content-quienes{
    padding-top: 50px;
  }

  .header-organizaciones{
    background-size: 210%;
    padding-bottom: 200px;
    background-position-y:0px;
  }

  .header-content-organizaciones{
    padding-top: 50px;
  }

  .porque-content{
    padding: 0px 0 100px 0;
  }
}

@media screen and (max-width: 375px){
  .header-quienes{
    padding-bottom: 100px;
    background-position-y: -220px;
  }

  .header-content-quienes{
    padding-top: 50px;
  }
  .porque-content{
    padding: 0px 0 100px 0;
  }
}

@media screen and (max-width: 320px){
  h1{
    font-size: 22px;
  }

  h2{
    font-size: 20px;
  }

  p{
    font-size: 16px;
  }

  .header{
    background-size: 340%;
  }

  .header-quienes{
    background-size: 430%;
    padding-bottom: 120px;
    background-position-y: -180px;
  }

  .header-content-quienes{
    padding-top: 50px;
  }

   .header-organizaciones{
    background-size: 250%;
    padding-bottom: 150px;
    background-position-y:0px;
  }

  .header-content-organizaciones{
    padding-top: 50px;
  }

  .porque-content{
    padding: 0px 0 100px 0;
  }

}

/*@media only screen and (min-width:320px) and (max-width: 768px){
  .header-quienes{
    background-size: 210%;
  }
}*/